.cv-button {
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.cv-button:hover {
  color: white;
  transform: scale(1.08);
}
.about-container {
  max-width: 60%;
  margin: auto;
  padding: 0px 20px;
  text-align: center;
  line-height: 1.7;
  font-size: 17px;
}

.about-container h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.about-container p {
  margin-bottom: 30px;
  font-size: 1.1rem;
}
.about-container strong{
  color: #ad59d4;
}
.cv-section {
  margin-top: 30px;
}

/* tablette */
@media screen and (max-width: 1024px) {
  .about-container {
    padding: 40px 15px;
    font-size: 16px;
  }

  .about-container h1 {
    font-size: 2rem;
  }
}

/* smartphone */
@media screen and (max-width: 768px) {
  .about-container {
    padding: 30px 10px;
    font-size: 15px;
  }

  .about-container h1 {
    font-size: 1.8rem;
  }
}

/* petits écrans */
@media screen and (max-width: 480px) {
  .about-container {
    padding: 25px 5px;
    font-size: 14px;
    max-width: 80%;
  }

  .about-container h1 {
    font-size: 1.5rem;
  }
}
