.home-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  max-width: 1250px;
  margin: auto;
  margin-bottom: 160px;
  gap: 50px;
}

.home-content {
  max-width: 600px;
}

.home-content h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.home-content p {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.highlight {
  font-weight: bold;
  color: #ad59d4;
}

.cta-buttons {
  margin-top: 20px;
}

.btn-primary,
.btn-secondary {
  padding: 12px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  margin-right: 25px;
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

.btn-primary {
  background-color: #ad59d4;
  color: white;
  transition: all 0.3s ease-in-out;
}

.btn-secondary {
  background-color: transparent;
  color: #ad59d4;
  border: 2px solid #ad59d4;
  transition: all 0.3s ease-in-out;
}

.btn-primary:hover,
.btn-secondary:hover {
  transform: scale(1.05);
}
.btn-primary:hover {
  color: white;
}

.home-image img {
  width: 90%;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease-in-out;
}



@media screen and (max-width: 1024px) {
  .home-container {
    flex-direction: column;
    text-align: center;
  }

  .home-image {
    order: -1;
    margin-bottom: 20px;
  }

  .home-image img {
    width: 100%;
  }

  .cta-buttons {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .home-container {
    padding: 30px;
    margin: 20px 10px;

  }

  .home-content h1 {
    font-size: 2rem;
  }

  .home-content p {
    font-size: 1rem;
  }

  .btn-primary,
  .btn-secondary {
    font-size: 1rem;
    padding: 10px 15px;
  }

  .home-image img {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .home-container {
    padding: 10px;
    margin: 20px 10px;
    gap: 0px;
  }
  .home-content h1 {
    font-size: 1.8rem;
  }

  .home-content p {
    font-size: 1rem;
  }

  .cta-buttons {
    flex-direction: column;
  }

  .btn-primary,
  .btn-secondary {
    margin: 5px 0;
  }

  .home-image  {
    width: 100%;
    margin: 0;
  }
}
