.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  border-radius: 0 0 20px 20px;
  background-color: transparent;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}



.gradient-bg {
  background: radial-gradient(
    #834a80,
    #61415f,
    #454444,
    #531f50,
    #5d225b
  );
  background-size: 400% 400%;
  animation: gradientAnimation 17s ease-in-out infinite;
  min-height: 0vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
