.footer {
  background-color: transparent;
  color: var(--color-text);
  text-align: center;
  font-size: 14px;
}

.footer-content {
  display: flex;
  flex-direction: column;
}

[data-theme="dark"] .footer {
  background-color: var(--color-bg-dark);
  color: var(--color-text-dark);
}
