.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  padding: 10px;
}
body.modal-open {
  overflow: hidden;
}

.modal-content {
  background: rgb(245, 238, 247);
  width: 90%;
  max-width: 800px;
  max-height: 90vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  position: relative;
}

.modal-image {
  width: 100%;
  max-height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.modal-text {
  padding: 20px;
  text-align: justify;
  color: black;
  font-size: 1rem;
  font-weight: 500;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  font-size: 0.6rem;
  cursor: pointer;
  background: none;
  color: white;
  z-index: 3;
}

.modal-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.modal-links a {
  font-size: 2.5rem;
  color: #333;
  transition: color 0.3s ease;
}

.modal-links a:hover {
  color: #ad59ad;
}

.modal-content::-webkit-scrollbar {
  display: none;
}
.modal-content {
  scrollbar-width: none;
  -ms-overflow-style: none;
}



/* tablettes */
@media (max-width: 1024px) {
  .modal-content {
    width: 95%;
    max-width: 700px;
    max-height: 85vh;
    padding: 18px;
  }

  .modal-text {
    font-size: 1rem;
    padding: 15px;
  }

  .modal-links {
    gap: 15px;
  }
}

/*  mobiles  */
@media (max-width: 768px) {
  .modal-content {
    width: 90%;
    max-width: 600px;
    max-height: 80vh;
    padding: 15px;
  }

  .modal-text {
    font-size: 0.9rem;
    padding: 10px;
  }

  .modal-links a {
    font-size: 1.8rem;
  }
}

/* petits ecrans */
@media (max-width: 480px) {
  .modal-content {
    width: 90%;
    /* max-width: 400px; */
    max-height: 75vh;
    padding: 10px;
    margin-right: 18px;
  }

  .modal-text {
    font-size: 1rem;
    padding: 8px;
  }

  .modal-links {
    gap: 30px;
  }

  .modal-links a {
    font-size: 2.5rem;
  }

  .close-button {
    font-size: 0.7rem;
    top: 5px;
    right: 5px;
  }
}